
// Typically the `li`
.accordion-group
  border: 1px solid $component_border
  border-radius: $radii
  margin-bottom: 2px

// The button and always visible text
.accordion-toggle
  display: block
  padding: 0.75em 1em

// The body of the text that is collapsed (must be nested in a `.collapse` container
.accordion-inner
  border-top: 1px solid $component_border
  padding: 0.75em 1em

