
.caret
  +inline-block
  border-width: 4px
  border-style: solid
  border-color: $link_normal transparent transparent transparent
  content: "\2193"
  text-indent: -999em
  width: 0
  height: 0
  vertical-align: top
  &.north
    border-color: transparent transparent $link_normal transparent
  &.south
    border-color: $link_normal transparent transparent transparent
  &.east
    border-color: transparent transparent transparent $link_normal
  &.west
    border-width: 5px
    border-color: transparent $link_normal transparent transparent
    margin-left: -5px
  &.split
    margin-left: 0

